<h1>{{product.title}}</h1>
<p><strong>Descripción:</strong> {{product.description}}</p>
<p><strong>Código:</strong> {{product.code}}</p>
<p><strong>Precio:</strong> ${{product.price}}</p>
<p><strong>Stock:</strong> {{product.stock}}</p>
<p><strong>Categoría:</strong> {{product.category}}</p>

{{#if product.thumbnails}}
  <div>
    {{#each product.thumbnails}}
      <img
        src="{{this}}"
        alt="{{product.title}}"
        style="max-width:150px; margin-right:10px"
      />
    {{/each}}
  </div>
{{/if}}

<button id="addToCartBtn" data-id="{{product._id}}">Agregar al carrito</button>
<script src="/productDetail.js"></script>